.floating-component {
  position: fixed; /* or absolute */
  top: 50%; /* adjust as needed */
  left: 50%; /* adjust as needed */
  transform: translate(-50%, -50%);
  z-index: 9999; /* adjust as needed */
  /* add other styles as needed */
}

.card-header {
  background-color: rgba(187, 212, 255, 0.9);
}

.card-title {
  margin-bottom: 0px;
}

#success{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(173, 246, 185);
  border-radius: 0.5rem;
}

#failure{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(246, 173, 173);
  border-radius: 0.5rem;
}

#success h4 {
  margin: 0.5rem;
}

#failure h4 {
  margin: 0.5rem;
}
