<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-black">
          <h3 class="card-title">Iniciar sesión</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()">
            <div id="success" class="mb-2" *ngIf="successVisible === 1">
              <h4>Inicio de sesión correcto</h4>
            </div>
            <div id="failure" class="mb-2" *ngIf="successVisible === 2">
              <h4>Inicio de sesión incorrecto</h4>
            </div>
            <div class="mb-2">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="userPassword" [(ngModel)]="user.userPassword" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Iniciar sesión</button>
            <div class="mb-2">
              <p>
                ¿No tienes cuenta? <a [routerLink]="['/register']" [routerLinkActive]="['active']">Regístrate</a>
              <p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
