<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-black">
          <h3 class="card-title">Registro</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="register()">
            <div class="mb-2">
              <label for="username" class="form-label">Nombre de usuario</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required>
            </div>
            <div class="mb-2">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required>
            </div>
            <div class="mb-2">
              <label for="userPassword" class="form-label">Contraseña</label>
              <input type="password" class="form-control" name="userPassword" [(ngModel)]="user.userPassword" required>
            </div>
            <div class="mb-2">
              <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
              <input type="password" class="form-control" name="confirmPassword" required>
            </div>
            <div class="mb-2">
              <label for="firstName" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" required>
            </div>            <div class="mb-2">
              <label for="surname" class="form-label">Apellido</label>
              <input type="text" class="form-control" name="surname" [(ngModel)]="user.surname" required>
            </div>
            <div class="mb-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" required>
                <label class="form-check-label" for="terms">
                  Estoy de acuerdo con los  <a [routerLink]="['/about']" [routerLinkActive]="['active']">términos y condiciones</a>
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="!user.terms">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

