<div class="container">
  <div class="row">
    <div class="col-10 col-xl-6 offset-1 mt-4">
      <h2>Sobre Talentmixer</h2>
      <p>Talentmixer es una plataforma en la que puedes publicar tus ideas de proyecto para que otra gente se sume y así
        ganar
        experiencia de trabajo en equipo.
      </p>
      <h2>Sobre mí</h2>
      <p>Farmacéutica reconvertida en programadora y analista de datos. Quiero crecer en el sector y aspiro a guiar a un
        equipo de profesionales.</p>

      <img src="assets/aboutme.png" alt="aboutme">
    </div>
  </div>

</div>
