<div class="container">
  <div class="row">
    <div class="col-8">
      <h3>User Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="user-data">
        <strong>Nombre de usuario:</strong>
        <p>{{ globalService.user.username }}</p>
      </div>
      <div class="user-data">
        <strong>Email:</strong>
        <p>{{ globalService.user.email }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="user-data">
        <strong>Nombre:</strong>
        <p>{{ globalService.user.firstName }}</p>
      </div>
      <div class="user-data">
        <strong>Apellido:</strong>
        <p>{{ globalService.user.surname }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-right">
      <button id="edit" class="btn mr-2" [routerLink]="['/user',globalService.user.id]"
        [routerLinkActive]="['active']">Edit</button>
      <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
    </div>
  </div>
</div>

<div class="row justify-content-center flex-column align-items-center"
  *ngIf="user.projects && user.projects.length; else noProjects">
  <project-card class="col-10 col-lg-6" *ngFor="let project of user.projects" [project]="project">
  </project-card>
</div>
<ng-template #noProjects>
  <h3>No hay proyectos disponibles</h3>
</ng-template>
