img {
  width: 300px;
  height: auto;
  border-radius: 5%;
}

.card {
  padding: 20px;
  display: flex;
 }

.card button {
  margin-top: 20px;
  width: 100px;
  align-self: end;
}

#edit {
  background-color: rgb(233, 248, 122);
  margin-right: 0.5rem;
}
