<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{project.title}}</h4>
  </div>
  <a [routerLink]="['/projects', project.id]">

    <div class="card-body">
      <img *ngIf="project.image == undefined" class="img-thumbnail" src="assets/default.png" alt="project_image">
      <img *ngIf="project.image != undefined" class="img-thumbnail" [src]="project.image" alt="project_image">
      <div>
        <p class="card-text">{{project.summary}}</p>
      </div>
    </div>
  </a>

  <div class="card-footer text-muted justify-content-between">
    {{project.createdAt|date:"dd/MM/y"}}
    <button class="btn btn-danger ml-3" (click)="deleteCard()">Delete</button>
  </div>
</div>
