<div class="container">
  <div class="row">
    <nav id="navbar" class="navbar navbar-expand-md gradient-custom justify-content-between">
      <a [routerLink]="['/projects']" [routerLinkActive]="['active']"><img src="assets/logo.png" alt="Logo"></a>
      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
          aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav">
            <li class="nav-item active" [routerLink]="['/about']" [routerLinkActive]="['active']">
              <a class="nav-link" >About</a>
            </li>
            <li id="login" *ngIf="globalService.logged==false; else loggedWelcome" class="btn btn-light"
            [routerLink]="['/login']" [routerLinkActive]="['active']">
              <a>
                Iniciar sesión
              </a>
            </li>
            <ng-template #loggedWelcome>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Usuario</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" [routerLink]="['/user',globalService.user.id]"
                [routerLinkActive]="['active']">
                  <a class="dropdown-item" >Cuenta</a>
                  <a class="dropdown-item" (click)="logout()" [routerLink]="['/projects']"
                    [routerLinkActive]="['active']">Cerrar sesión</a>
                </div>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
