@media (max-width: 405px) {
  .img-fluid {
    width: 150px;
    height: auto;
  }
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: 700;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(127, 174, 255, 0.9)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(127, 174, 255, 0.9)
  );
}

a {
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: inherit;
}

#login {
  margin-left: 1rem;
}

#hola {
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(246, 173, 173);
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 0px;
}
